.bb{
background-color: red;



}
.cc{
    background-color: red;
}
.pp{
    background-color: brown;
}
.ee{
background-color: aqua;
font-size:28px ;
}
.dd{
    background-color: red;
    font-size: 26px;
}
.qq{
    background-color: purple;
}
.i
 














